<div id="About" class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center highlight-blue" style="height: 500px;background-color: rgba(255,255,255,0.9);">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="color: #172f76;">ABOUT</h2>
            <hr style="height: 2px;color: #214a80;background-color: #172f76;" />
            <p class="text-center" style="color: #172f76;font-family: Muli, sans-serif;">The passing away of a loved one is undeniably painful and it is particularly more stressful when you are faced with the task of gathering their assets or administering their Estate.<br /><br />Nisel Probate is pleased to take on the responsibility of processing probate documents on your behalf and we are here to take the burden off you from start to finish.</p>
        </div>
        <div class="buttons"><a class="btn text-capitalize" role="button" href="#" style="background-color: #172f76;color: #ffffff;font-family: Muli, sans-serif;font-weight: 300;font-size: 15px;"><strong>Read More</strong><br /></a></div>
    </div>
</div>